#  VEngage.AI - Assessment

### Importing Libraries

In [36]:
import csv
import json
import pandas as pd
from tabulate import tabulate

## Task 1

### Creating Json/CSV Files

In [108]:
phonebook_records = [
    ['John', 'john@xyz.com', '123-456-789', '123-457-456'],['Doe', 'doe@xyz.com', '123-426-789', '121-457-456'],
    ['Jane', 'jane@xyz.com', '124-524-135', '214-523-456'],['Smith', 'smith@xyz.com', '178-426-789', '145-457-456'],
    ['Van', 'van@xyz.com', '123-452-689', '164-527-456'],['Das', 'das@xyz.com', '423-426-789', '421-457-456'],
    ['Jack', 'jack@xyz.com', '223-524-135', '224-524-456'],['Steve', 'steve@xyz.com', '578-426-789', '545-457-456'],
    ['Jeni', 'jeni@xyz.com', '323-456-745', '323-457-456'],['warner', 'warner@xyz.com', '323-456-789', '123-457-456'],
    ['Doe', 'doe@xyz.com', '123-426-789', '121-457-456'],
    ['david', 'david@xyz.com', '424-524-135', '414-523-456'],['Sam', 'sam@xyz.com', '678-426-789', '645-457-456'],
    ['Vincent', 'vincent@xyz.com', '723-452-689', '764-527-456'],['kevin', 'kevin@xyz.com', '724-526789', '721-457-456'],
    ['Alex', 'alex@xyz.com', '823-524-135', '824-524-456'],['Ben', 'ben@xyz.com', '878-426-789', '845-457-456'],
]

file_path = 'phone_book.csv'
with open(file_path, 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(['Name', 'Email', 'Phone 1', 'Phone 2'])
    writer.writerows(phonebook_records)

print(f'Phonebook data has been saved to {file_path}')

Phonebook data has been saved to phone_book.csv

### Methods To read CSV

In [96]:
class CSVReader:
    def method_1(self, file_path):
        try:
            with open(file_path, 'r') as file:
                reader = csv.reader(file)
                for row in reader:
                    print(row)
        except FileNotFoundError:
            print(f"File '{file_path}' not found.")
    
    def method_2(self, file_path):
        try:
            with open(file_path, 'r') as file:    
                reader = csv.DictReader(file)
                for row in reader:
                    print(row)
        except FileNotFoundError:
            print(f"File '{file_path}' not found.")
    
    def method_3(self, file_path):
        try:
            reader = pd.read_csv(file_path)
            print(reader)
        except FileNotFoundError:
            print(f"File '{file_path}' not found.")
    
    def method_4(self, file_path):
        try:
            csv.register_dialect('myDialect',
                                 delimiter='|',
                                 skipinitialspace=True,
                                 quoting=csv.QUOTE_ALL)

            with open(file_path, 'r') as csvfile:
                reader = csv.reader(csvfile, dialect='myDialect')
                for row in reader:
                    print(row)
        except FileNotFoundError:
            print(f"File '{file_path}' not found.")
    
    def method_5(self, file_path):
        try:
            with open(file_path, 'r') as file:
                csv_file = csv.DictReader(file)
                for row in csv_file:
                    print(dict(row))
        except FileNotFoundError:
            print(f"File '{file_path}' not found.")
    
    def method_6(self, file_path):
        try:
            with open(file_path, 'r') as csvfile:
                sample = csvfile.read(64)
                has_header = csv.Sniffer().has_header(sample)
                print(has_header)

                deduced_dialect = csv.Sniffer().sniff(sample)

            with open(file_path, 'r') as csvfile:
                reader = csv.reader(csvfile, deduced_dialect)
                for row in reader:
                    print(row)
        except FileNotFoundError:
            print(f"File '{file_path}' not found.")

In [102]:
csv_reader = CSVReader()
file_path = 'phonebook.csv'  # Replace with your file path
csv_reader.method_1(file_path)

['Name', 'Email', 'Phone 1', 'Phone 2']
['John', 'john@xyz.com', '123456789', '123457456']
['Doe', 'doe@xyz.com', '123426789', '121457456']
['Jane', 'jane@xyz.com', '124524135', '214523456']
['Smith', 'smith@xyz.com', '178426789', '145457456']
['Van', 'van@xyz.com', '123452689', '164527456']
['Das', 'das@xyz.com', '423426789', '421457456']
['Jack', 'jack@xyz.com', '223524135', '224524456']
['Steve', 'steve@xyz.com', '578426789', '545457456']
['Jeni', 'jeni@xyz.com', '323456745', '323457456']
['warner', 'warner@xyz.com', '323456789', '123457456']
['Doe', 'doe@xyz.com', '123426789', '121457456']
['david', 'david@xyz.com', '424524135', '414523456']
['Sam', 'sam@xyz.com', '678426789', '645457456']
['Vincent', 'vincent@xyz.com', '723452689', '764527456']
['kevin', 'kevin@xyz.com', '724526789', '721457456']
['Alex', 'alex@xyz.com', '823524135', '824524456']
['Ben', 'ben@xyz.com', '878426789', '845457456']

In [103]:
csv_reader.method_3(file_path)

       Name            Email    Phone 1    Phone 2
0      John     john@xyz.com  123456789  123457456
1       Doe      doe@xyz.com  123426789  121457456
2      Jane     jane@xyz.com  124524135  214523456
3     Smith    smith@xyz.com  178426789  145457456
4       Van      van@xyz.com  123452689  164527456
5       Das      das@xyz.com  423426789  421457456
6      Jack     jack@xyz.com  223524135  224524456
7     Steve    steve@xyz.com  578426789  545457456
8      Jeni     jeni@xyz.com  323456745  323457456
9    warner   warner@xyz.com  323456789  123457456
10      Doe      doe@xyz.com  123426789  121457456
11    david    david@xyz.com  424524135  414523456
12      Sam      sam@xyz.com  678426789  645457456
13  Vincent  vincent@xyz.com  723452689  764527456
14    kevin    kevin@xyz.com  724526789  721457456
15     Alex     alex@xyz.com  823524135  824524456
16      Ben      ben@xyz.com  878426789  845457456

In [104]:
csv_reader.method_6(file_path)

True
['Name', 'Email', 'Phone 1', 'Phone 2']
['John', 'john@xyz.com', '123456789', '123457456']
['Doe', 'doe@xyz.com', '123426789', '121457456']
['Jane', 'jane@xyz.com', '124524135', '214523456']
['Smith', 'smith@xyz.com', '178426789', '145457456']
['Van', 'van@xyz.com', '123452689', '164527456']
['Das', 'das@xyz.com', '423426789', '421457456']
['Jack', 'jack@xyz.com', '223524135', '224524456']
['Steve', 'steve@xyz.com', '578426789', '545457456']
['Jeni', 'jeni@xyz.com', '323456745', '323457456']
['warner', 'warner@xyz.com', '323456789', '123457456']
['Doe', 'doe@xyz.com', '123426789', '121457456']
['david', 'david@xyz.com', '424524135', '414523456']
['Sam', 'sam@xyz.com', '678426789', '645457456']
['Vincent', 'vincent@xyz.com', '723452689', '764527456']
['kevin', 'kevin@xyz.com', '724526789', '721457456']
['Alex', 'alex@xyz.com', '823524135', '824524456']
['Ben', 'ben@xyz.com', '878426789', '845457456']

### Creating Json File

In [109]:
phonebook_records = [
    {
        'Name': 'John Doe',
        'Email': 'johndoe@example.com',
        'Phone 1': '1234567890',
        'Phone 2': '9876543210'
    },
    {
        'Name': 'Jane Smith',
        'Email': 'janesmith@example.com',
        'Phone 1': '1112223333',
        'Phone 2': '4445556666'
    },

    {
        'Name': 'Alice Johnson',
        'Email': 'alice@example.com',
        'Phone 1': '7778889999',
        'Phone 2': '1112223333'
    },
    {
        'Name': 'Bob Williams',
        'Email': 'bob@example.com',
        'Phone 1': '3334445555',
        'Phone 2': '8889990000'
    },
    {
        'Name': 'Eva Brown',
        'Email': 'eva@example.com',
        'Phone 1': '5556667777',
        'Phone 2': '2223334444'
    },
    {
        'Name': 'David Davis',
        'Email': 'david@example.com',
        'Phone 1': '9990001111',
        'Phone 2': '6667778888'
    },
    {
        'Name': 'Grace Wilson',
        'Email': 'grace@example.com',
        'Phone 1': '2223334444',
        'Phone 2': '5556667777'
    },
    {
        'Name': 'Samuel Lee',
        'Email': 'samuel@example.com',
        'Phone 1': '8889990000',
        'Phone 2': '3334445555'
    },
    {
        'Name': 'Sophia Martinez',
        'Email': 'sophia@example.com',
        'Phone 1': '6667778888',
        'Phone 2': '9990001111'
    },
    {
        'Name': 'Olivia Garcia',
        'Email': 'olivia@example.com',
        'Phone 1': '4445556666',
        'Phone 2': '1112223333'
    },
    {
        'Name': 'Liam Lopez',
        'Email': 'liam@example.com',
        'Phone 1': '1112223333',
        'Phone 2': '4445556666'
    },
    {
        'Name': 'Ava Hernandez',
        'Email': 'ava@example.com',
        'Phone 1': '2223334444',
        'Phone 2': '5556667777'
    },
    {
        'Name': 'Noah Gonzalez',
        'Email': 'noah@example.com',
        'Phone 1': '5556667777',
        'Phone 2': '2223334444'
    },
    {
        'Name': 'Emma Perez',
        'Email': 'emma@example.com',
        'Phone 1': '9990001111',
        'Phone 2': '6667778888'
    },
    {
        'Name': 'William Smith',
        'Email': 'william@example.com',
        'Phone 1': '3334445555',
        'Phone 2': '8889990000'
    },
    {
        'Name': 'John',
        'Email': 'janesmith@example.com',
        'Phone 1': '1112223333',
        'Phone 2': '4445556666'
    },
    {
        'Name': 'Doe',
        'Email': 'janesmith@example.com',
        'Phone 1': '1112223333',
        'Phone 2': '4445556666'
    }
    
]

file_path = 'phone_book.json'
with open(file_path, 'w') as file:
    json.dump(phonebook_records, file, indent=4)

print(f'Phonebook data has been saved to {file_path}')

Phonebook data has been saved to phone_book.json

### Methods To read Json

In [91]:
class JSONReader:
    def method_1(self, file_path):
        try:
            with open(file_path, 'r') as file:
                data = json.load(file)
                print(data)
        except FileNotFoundError:
            print(f"File '{file_path}' not found.")
        except json.JSONDecodeError as e:
            print(f"Error decoding JSON in file '{file_path}': {e}")
    
    def method_2(self, file_path):
     try:
        df = pd.read_json(file_path)
        print(df)
     except FileNotFoundError:
        print(f"File '{file_path}' not found.")
        
    def method_3(self, file_path):
     try:
        with open(file_path, 'r') as file:
            data = json.load(file)
            headers = data[0].keys() if isinstance(data, list) and len(data) > 0 else []
            rows = [list(item.values()) for item in data] if isinstance(data, list) else []
            print(tabulate(rows, headers=headers))
     except FileNotFoundError:
        print(f"File '{file_path}' not found.")

In [92]:
json_reader = JSONReader()
file_path = 'phonebook.json' # Replace with your file path

In [93]:
json_reader.method_1(file_path)

[{'Name': 'John Doe', 'Email': 'johndoe@example.com', 'Phone 1': '1234567890', 'Phone 2': '9876543210'}, {'Name': 'Jane Smith', 'Email': 'janesmith@example.com', 'Phone 1': '1112223333', 'Phone 2': '4445556666'}, {'Name': 'Alice Johnson', 'Email': 'alice@example.com', 'Phone 1': '7778889999', 'Phone 2': '1112223333'}, {'Name': 'Bob Williams', 'Email': 'bob@example.com', 'Phone 1': '3334445555', 'Phone 2': '8889990000'}, {'Name': 'Eva Brown', 'Email': 'eva@example.com', 'Phone 1': '5556667777', 'Phone 2': '2223334444'}, {'Name': 'David Davis', 'Email': 'david@example.com', 'Phone 1': '9990001111', 'Phone 2': '6667778888'}, {'Name': 'Grace Wilson', 'Email': 'grace@example.com', 'Phone 1': '2223334444', 'Phone 2': '5556667777'}, {'Name': 'Samuel Lee', 'Email': 'samuel@example.com', 'Phone 1': '8889990000', 'Phone 2': '3334445555'}, {'Name': 'Sophia Martinez', 'Email': 'sophia@example.com', 'Phone 1': '6667778888', 'Phone 2': '9990001111'}, {'Name': 'Olivia Garcia', 'Email': 'olivia@example.com', 'Phone 1': '4445556666', 'Phone 2': '1112223333'}, {'Name': 'Liam Lopez', 'Email': 'liam@example.com', 'Phone 1': '1112223333', 'Phone 2': '4445556666'}, {'Name': 'Ava Hernandez', 'Email': 'ava@example.com', 'Phone 1': '2223334444', 'Phone 2': '5556667777'}, {'Name': 'Noah Gonzalez', 'Email': 'noah@example.com', 'Phone 1': '5556667777', 'Phone 2': '2223334444'}, {'Name': 'Emma Perez', 'Email': 'emma@example.com', 'Phone 1': '9990001111', 'Phone 2': '6667778888'}, {'Name': 'William Smith', 'Email': 'william@example.com', 'Phone 1': '3334445555', 'Phone 2': '8889990000'}]

In [94]:
json_reader.method_2(file_path)

               Name                  Email     Phone 1     Phone 2
0          John Doe    johndoe@example.com  1234567890  9876543210
1        Jane Smith  janesmith@example.com  1112223333  4445556666
2     Alice Johnson      alice@example.com  7778889999  1112223333
3      Bob Williams        bob@example.com  3334445555  8889990000
4         Eva Brown        eva@example.com  5556667777  2223334444
5       David Davis      david@example.com  9990001111  6667778888
6      Grace Wilson      grace@example.com  2223334444  5556667777
7        Samuel Lee     samuel@example.com  8889990000  3334445555
8   Sophia Martinez     sophia@example.com  6667778888  9990001111
9     Olivia Garcia     olivia@example.com  4445556666  1112223333
10       Liam Lopez       liam@example.com  1112223333  4445556666
11    Ava Hernandez        ava@example.com  2223334444  5556667777
12    Noah Gonzalez       noah@example.com  5556667777  2223334444
13       Emma Perez       emma@example.com  9990001111  6667778888
14    William Smith    william@example.com  3334445555  8889990000

In [95]:
json_reader.method_3(file_path)

Name             Email                     Phone 1     Phone 2
---------------  ---------------------  ----------  ----------
John Doe         johndoe@example.com    1234567890  9876543210
Jane Smith       janesmith@example.com  1112223333  4445556666
Alice Johnson    alice@example.com      7778889999  1112223333
Bob Williams     bob@example.com        3334445555  8889990000
Eva Brown        eva@example.com        5556667777  2223334444
David Davis      david@example.com      9990001111  6667778888
Grace Wilson     grace@example.com      2223334444  5556667777
Samuel Lee       samuel@example.com     8889990000  3334445555
Sophia Martinez  sophia@example.com     6667778888  9990001111
Olivia Garcia    olivia@example.com     4445556666  1112223333
Liam Lopez       liam@example.com       1112223333  4445556666
Ava Hernandez    ava@example.com        2223334444  5556667777
Noah Gonzalez    noah@example.com       5556667777  2223334444
Emma Perez       emma@example.com       9990001111  6667778888
William Smith    william@example.com    3334445555  8889990000

## Task 2

### CRUD Operations using CSV Files

In [24]:
class Query:
    def execute_select_query_head(self, data):
        return data.head(10)
    
    def execute_select_query(self, data):
        try:
            # Applying filter condition where name equals 'Doe'
            filtered_data = data[data['Name'] == 'Doe']
            return filtered_data
        except Exception as e:
            print(f"Error executing SELECT query: {e}")
            return None

    # Function to execute INSERT query
    def insert_row(self, data):
        new_row_data = {
            "Name": 'Test',
            "Email": 'test@test.xtyz',
            "Phone 1": '1234456',
            "Phone 2": '1233233'
        }
        # Append the new row to the DataFrame
        new_row_df = pd.DataFrame(new_row_data, index=[0])
        data = pd.concat([data, new_row_df], ignore_index=True)
        return data

    # Function to execute DELETE query
    def delete_rows_by_name(self, data):
        data = data[data['Name'] != 'John']
        return data

In [25]:
import pandas as pd
def read_csv(file):
        try:
            return pd.read_csv(file)
        except pd.errors.EmptyDataError:
            print("The uploaded CSV file is empty or doesn't contain any readable data.")
            return None

In [26]:
query_reader = Query()
file = 'phone_book.csv'
data = read_csv(file)

In [27]:
query_reader.execute_select_query(data)

   Name        Email      Phone 1      Phone 2
1   Doe  doe@xyz.com  123-426-789  121-457-456
10  Doe  doe@xyz.com  123-426-789  121-457-456

In [28]:
query_reader.execute_select_query_head(data)

     Name           Email      Phone 1      Phone 2
0    John    john@xyz.com  123-456-789  123-457-456
1     Doe     doe@xyz.com  123-426-789  121-457-456
2    Jane    jane@xyz.com  124-524-135  214-523-456
3   Smith   smith@xyz.com  178-426-789  145-457-456
4     Van     van@xyz.com  123-452-689  164-527-456
5     Das     das@xyz.com  423-426-789  421-457-456
6    Jack    jack@xyz.com  223-524-135  224-524-456
7   Steve   steve@xyz.com  578-426-789  545-457-456
8    Jeni    jeni@xyz.com  323-456-745  323-457-456
9  warner  warner@xyz.com  323-456-789  123-457-456

In [29]:
query_reader.insert_row(data)

       Name            Email      Phone 1      Phone 2
0      John     john@xyz.com  123-456-789  123-457-456
1       Doe      doe@xyz.com  123-426-789  121-457-456
2      Jane     jane@xyz.com  124-524-135  214-523-456
3     Smith    smith@xyz.com  178-426-789  145-457-456
4       Van      van@xyz.com  123-452-689  164-527-456
5       Das      das@xyz.com  423-426-789  421-457-456
6      Jack     jack@xyz.com  223-524-135  224-524-456
7     Steve    steve@xyz.com  578-426-789  545-457-456
8      Jeni     jeni@xyz.com  323-456-745  323-457-456
9    warner   warner@xyz.com  323-456-789  123-457-456
10      Doe      doe@xyz.com  123-426-789  121-457-456
11    david    david@xyz.com  424-524-135  414-523-456
12      Sam      sam@xyz.com  678-426-789  645-457-456
13  Vincent  vincent@xyz.com  723-452-689  764-527-456
14    kevin    kevin@xyz.com   724-526789  721-457-456
15     Alex     alex@xyz.com  823-524-135  824-524-456
16      Ben      ben@xyz.com  878-426-789  845-457-456
17     Test   test@test.xtyz      1234456      1233233

In [30]:
query_reader.delete_rows_by_name(data)

       Name            Email      Phone 1      Phone 2
1       Doe      doe@xyz.com  123-426-789  121-457-456
2      Jane     jane@xyz.com  124-524-135  214-523-456
3     Smith    smith@xyz.com  178-426-789  145-457-456
4       Van      van@xyz.com  123-452-689  164-527-456
5       Das      das@xyz.com  423-426-789  421-457-456
6      Jack     jack@xyz.com  223-524-135  224-524-456
7     Steve    steve@xyz.com  578-426-789  545-457-456
8      Jeni     jeni@xyz.com  323-456-745  323-457-456
9    warner   warner@xyz.com  323-456-789  123-457-456
10      Doe      doe@xyz.com  123-426-789  121-457-456
11    david    david@xyz.com  424-524-135  414-523-456
12      Sam      sam@xyz.com  678-426-789  645-457-456
13  Vincent  vincent@xyz.com  723-452-689  764-527-456
14    kevin    kevin@xyz.com   724-526789  721-457-456
15     Alex     alex@xyz.com  823-524-135  824-524-456
16      Ben      ben@xyz.com  878-426-789  845-457-456

### CRUD Operations using Json File

In [66]:
class Query_Json:

    def read_json(self, file):
        try:
            return json.load(file)
        except json.JSONDecodeError as e:
            print(f"Error reading JSON file: {e}")
            return None
        
    def execute_select_query_top_10(self, data):
        return data[:10]  # Limit the output to the top 10 records
    
    def execute_select_query_by_name(self, data, name):
        selected_data = [record for record in data if record.get('Name') == name]
        return selected_data


    def insert_row_json(self, data):
        new_row_data = {
            "Name": 'Test',
            "Email": 'test@test.xtyz',
            "Phone 1": '1234456',
            "Phone 2": '1233233'
        }
        data.append(new_row_data)
        return data

    # Function to delete rows based on a condition in JSON data
    def delete_rows_by_name_json(self, data):
        data = [record for record in data if record.get('Name') != 'John']
        return data

In [67]:
import json
def read_json(file_name):
    with open(file_name, 'r') as file:
        data = json.load(file)
    return data

In [68]:
query_json_reader = Query_Json()
file_name = 'phone_book.json'
data = read_json(file_name)

In [69]:
query_json_reader.execute_select_query_top_10(data)

[{'Name': 'John Doe',
  'Email': 'johndoe@example.com',
  'Phone 1': '1234567890',
  'Phone 2': '9876543210'},
 {'Name': 'Jane Smith',
  'Email': 'janesmith@example.com',
  'Phone 1': '1112223333',
  'Phone 2': '4445556666'},
 {'Name': 'Alice Johnson',
  'Email': 'alice@example.com',
  'Phone 1': '7778889999',
  'Phone 2': '1112223333'},
 {'Name': 'Bob Williams',
  'Email': 'bob@example.com',
  'Phone 1': '3334445555',
  'Phone 2': '8889990000'},
 {'Name': 'Eva Brown',
  'Email': 'eva@example.com',
  'Phone 1': '5556667777',
  'Phone 2': '2223334444'},
 {'Name': 'David Davis',
  'Email': 'david@example.com',
  'Phone 1': '9990001111',
  'Phone 2': '6667778888'},
 {'Name': 'Grace Wilson',
  'Email': 'grace@example.com',
  'Phone 1': '2223334444',
  'Phone 2': '5556667777'},
 {'Name': 'Samuel Lee',
  'Email': 'samuel@example.com',
  'Phone 1': '8889990000',
  'Phone 2': '3334445555'},
 {'Name': 'Sophia Martinez',
  'Email': 'sophia@example.com',
  'Phone 1': '6667778888',
  'Phone 2': '9990001111'},
 {'Name': 'Olivia Garcia',
  'Email': 'olivia@example.com',
  'Phone 1': '4445556666',
  'Phone 2': '1112223333'}]

In [71]:
result = query_json_reader.execute_select_query_by_name(data, 'Doe')
print(result)

[{'Name': 'Doe', 'Email': 'janesmith@example.com', 'Phone 1': '1112223333', 'Phone 2': '4445556666'}]

In [72]:
query_json_reader.insert_row_json(data)

[{'Name': 'John Doe',
  'Email': 'johndoe@example.com',
  'Phone 1': '1234567890',
  'Phone 2': '9876543210'},
 {'Name': 'Jane Smith',
  'Email': 'janesmith@example.com',
  'Phone 1': '1112223333',
  'Phone 2': '4445556666'},
 {'Name': 'Alice Johnson',
  'Email': 'alice@example.com',
  'Phone 1': '7778889999',
  'Phone 2': '1112223333'},
 {'Name': 'Bob Williams',
  'Email': 'bob@example.com',
  'Phone 1': '3334445555',
  'Phone 2': '8889990000'},
 {'Name': 'Eva Brown',
  'Email': 'eva@example.com',
  'Phone 1': '5556667777',
  'Phone 2': '2223334444'},
 {'Name': 'David Davis',
  'Email': 'david@example.com',
  'Phone 1': '9990001111',
  'Phone 2': '6667778888'},
 {'Name': 'Grace Wilson',
  'Email': 'grace@example.com',
  'Phone 1': '2223334444',
  'Phone 2': '5556667777'},
 {'Name': 'Samuel Lee',
  'Email': 'samuel@example.com',
  'Phone 1': '8889990000',
  'Phone 2': '3334445555'},
 {'Name': 'Sophia Martinez',
  'Email': 'sophia@example.com',
  'Phone 1': '6667778888',
  'Phone 2': '9990001111'},
 {'Name': 'Olivia Garcia',
  'Email': 'olivia@example.com',
  'Phone 1': '4445556666',
  'Phone 2': '1112223333'},
 {'Name': 'Liam Lopez',
  'Email': 'liam@example.com',
  'Phone 1': '1112223333',
  'Phone 2': '4445556666'},
 {'Name': 'Ava Hernandez',
  'Email': 'ava@example.com',
  'Phone 1': '2223334444',
  'Phone 2': '5556667777'},
 {'Name': 'Noah Gonzalez',
  'Email': 'noah@example.com',
  'Phone 1': '5556667777',
  'Phone 2': '2223334444'},
 {'Name': 'Emma Perez',
  'Email': 'emma@example.com',
  'Phone 1': '9990001111',
  'Phone 2': '6667778888'},
 {'Name': 'William Smith',
  'Email': 'william@example.com',
  'Phone 1': '3334445555',
  'Phone 2': '8889990000'},
 {'Name': 'John',
  'Email': 'janesmith@example.com',
  'Phone 1': '1112223333',
  'Phone 2': '4445556666'},
 {'Name': 'Doe',
  'Email': 'janesmith@example.com',
  'Phone 1': '1112223333',
  'Phone 2': '4445556666'},
 {'Name': 'Test',
  'Email': 'test@test.xtyz',
  'Phone 1': '1234456',
  'Phone 2': '1233233'}]

In [73]:
query_json_reader.delete_rows_by_name_json(data)

[{'Name': 'John Doe',
  'Email': 'johndoe@example.com',
  'Phone 1': '1234567890',
  'Phone 2': '9876543210'},
 {'Name': 'Jane Smith',
  'Email': 'janesmith@example.com',
  'Phone 1': '1112223333',
  'Phone 2': '4445556666'},
 {'Name': 'Alice Johnson',
  'Email': 'alice@example.com',
  'Phone 1': '7778889999',
  'Phone 2': '1112223333'},
 {'Name': 'Bob Williams',
  'Email': 'bob@example.com',
  'Phone 1': '3334445555',
  'Phone 2': '8889990000'},
 {'Name': 'Eva Brown',
  'Email': 'eva@example.com',
  'Phone 1': '5556667777',
  'Phone 2': '2223334444'},
 {'Name': 'David Davis',
  'Email': 'david@example.com',
  'Phone 1': '9990001111',
  'Phone 2': '6667778888'},
 {'Name': 'Grace Wilson',
  'Email': 'grace@example.com',
  'Phone 1': '2223334444',
  'Phone 2': '5556667777'},
 {'Name': 'Samuel Lee',
  'Email': 'samuel@example.com',
  'Phone 1': '8889990000',
  'Phone 2': '3334445555'},
 {'Name': 'Sophia Martinez',
  'Email': 'sophia@example.com',
  'Phone 1': '6667778888',
  'Phone 2': '9990001111'},
 {'Name': 'Olivia Garcia',
  'Email': 'olivia@example.com',
  'Phone 1': '4445556666',
  'Phone 2': '1112223333'},
 {'Name': 'Liam Lopez',
  'Email': 'liam@example.com',
  'Phone 1': '1112223333',
  'Phone 2': '4445556666'},
 {'Name': 'Ava Hernandez',
  'Email': 'ava@example.com',
  'Phone 1': '2223334444',
  'Phone 2': '5556667777'},
 {'Name': 'Noah Gonzalez',
  'Email': 'noah@example.com',
  'Phone 1': '5556667777',
  'Phone 2': '2223334444'},
 {'Name': 'Emma Perez',
  'Email': 'emma@example.com',
  'Phone 1': '9990001111',
  'Phone 2': '6667778888'},
 {'Name': 'William Smith',
  'Email': 'william@example.com',
  'Phone 1': '3334445555',
  'Phone 2': '8889990000'},
 {'Name': 'Doe',
  'Email': 'janesmith@example.com',
  'Phone 1': '1112223333',
  'Phone 2': '4445556666'},
 {'Name': 'Test',
  'Email': 'test@test.xtyz',
  'Phone 1': '1234456',
  'Phone 2': '1233233'}]